
.third-section{
    padding-top: 0;
    padding-bottom: 0;
    overflow:hidden;
    flex-wrap: wrap;
}

.third-section .container{
    text-align: left;
    position: relative;
    z-index: 1;
    overflow: hidden;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 100%;
    flex: none;
    min-height: 100%;
}

.third-section .text-div{
    position: relative;
    flex: 0 0 50%;
    width: 50%;
}
.third-section .content{
    padding-top: 0;
}
.third-section .image-in{
    padding: 0 10%;
}
.third-section .image-in .star{
    position: absolute;
    right: 5%;
    top: 25%;
    width: 150px;
    height: 100px;
    object-fit: contain;
    transform: rotate(30deg);
}
.third-section .image-in img.main{
    width: 100%;
    max-width: 250px;
    max-height: 450px;
    object-fit: cover;
    object-position: center;
    display: none;
    border-radius: 150px;
    margin: 35px auto;
}


.third-section .btn{
    background: #333;
    color: #fff;
}

.third-section .desktop{
    flex: 0 0 50%;
    width: 50%;
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 3;
}
.third-section .desktop img{
    object-position:center bottom;
    max-height: 115vh;
    margin-bottom: -15px;
}
.third-section .image-desktops{
    position: absolute;
    top: 0;
    left: 0;
    max-height: 10%;
    display: block;
    margin: 5% 10% 0;
}
.third-section .image-desktops .planet{
    width: 250px;
    height: 100%;
    object-fit: contain;
    margin-left: 75px;
}

.third-section .image-desktops .small-star{
    width: 35px;
    height: 35px;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
}

@media screen and (max-width:1050px) {
    
    .third-section .image-desktops .planet{
        width: 200px;
    }
    
    .third-section .image-in .star{
        right: 0;
        top: 15%;
    }
}
@media screen and (max-width:750px) {
        
    .third-section{
        padding: 50px 0 25px;
    }
    .third-section .container{
        padding-bottom: 20px;
        padding-left: 7px;
        padding-right: 7px;
    }
    .third-section .text-div{
        width: 100%;
        flex: none;
        padding:15% 10% 15px;
    }

    .third-section .content{
        padding-top: 0;
    }

    .third-section .description_div{
        margin:25px 0 10px;
        max-width: 100%;
    }
    .third-section .image-in{
        padding: 0 12%;
        max-width: max-content;
        position: relative;
        display: block;
        margin: 25px auto;
    }
    
    .third-section .image-in .star{
        right: 10px;
        top: 0px;
        width: 100px;
        height: 100px;
    }
    
    .third-section .image-in img.main{
        display: block;
        min-height: 380px;
    }
    .third-section .btn{
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .third-section .image-desktops{
        display: none;
    }
}

