.fourth-section{
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
}

.fourth-section .container{
    text-align: left;
    position: relative;
    z-index: 1;
    overflow: hidden;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 100%;
    flex: none;
    min-height: 100%;
}
.fourth-section .tag,
.fourth-section .tagline{
    letter-spacing: normal; 
    font-size: 4.5rem;
    line-height: 4rem;
}

.fourth-section .mobile.image{
    display: flex;
    flex: 0 0 50%;
    width: 50%;
    text-align: left;
    position: relative;
    align-items: center;
}
.fourth-section .mobile.image{
    display: none;
}
.fourth-section .mobile.image img{
    width: 100%;
    max-height: 450px;
    object-fit: contain;
    object-position: center;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

.fourth-section .text-div{
    flex: 0 0 50%;
    width: 50%;
    text-align: left;
    position: relative;
    padding: 5% 0 25px;
}
.fourth-section .text{
    padding:5% 5% 0;
}
.fourth-section .fences{
    width: 100%;
    height: 100px;
    object-fit: cover;
}
.fourth-section .text .planet{
    width: 150px;
    position: absolute;
    top:0;
    right: -40px;
    height: 100%;
    object-fit: contain;
    display: none;
    align-items:center;
}
.fourth-section .description{
    line-height: 1.1rem;
}
.fourth-section .description_div{
    margin:5% 0;
}
.fourth-section .btn{
    margin: 50px 0 0 5%;
    background: #333;
    color: #fff;
    display: block;
}

.fourth-section .image-div.desktop{
    flex: 0 0 50%;
    width: 50%;
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 3;
}
@media screen and (max-width:992px) {
    
    .fourth-section .tag{
        font-size: 3.5rem;
        line-height: 3rem;
    }
    
    
}
@media screen and (max-width:750px) {
    
    .fourth-section{
        padding-top: 40px;
    }

    .fourth-section .image.mobile,
    .fourth-section .text-div{
        flex: 0 0 100%;
        width: 100%;
    }
    .fourth-section .text-div{
        padding: 20% 7% 0;
    }
    .fourth-section .text{
        padding: 0;
    }
    
    .fourth-section .fences{
        display: none;
    }

    .fourth-section .mobile.image{
        display: flex;
        margin: auto;
        padding-left: 7px;
        padding-right: 7px;
        overflow: hidden;
        max-width: max-content  ;
    }
    
    .fourth-section .mobile.image img{
        max-height: 350px;
    }
    
    .fourth-section .text .planet{
        display: flex;
    }
    
    .fourth-section .description_div{
        margin:5% 0 0;
        max-width: 100%;
    }
    
    .fourth-section .description{
        max-width: 70%;
        margin:15% 0 0;
    }
    
    .fourth-section .btn{
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
    }
}