@import url('./common.css');
@import url('./1_landing-section.css');
@import url('./2_mission-section.css');
@import url('./3_third-section.css');
@import url('./4_fourth-section.css');

.tabs-div{
    position: relative;
}
.tab-section{
    display: none;
    background: none;
}

.tab-section.active{
    display: flex;
}
.tabs-desktop{
    display: flex;
    position: relative;
    column-gap: 10px;
    z-index: 132;
    margin: 5px 0 45px;
}
.tabs-mobile{
    position: absolute;
    z-index: 123;
    display: none;
    top: -25px;
    width: 100%;
}

.tabs-desktop .tabs-button{
    background: none;
    color: #000;
    text-decoration: underline;
    position: relative;
}

.tabs-desktop .tabs-button:not(:first-of-type)::before{
    content: "";
    width: 5px;
    height: 5px;
    background: #fff;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 10px;
}


.tabs-mobile .tabs-button{
    background: #fff;
    border-radius: 500px;
    padding: 10px 5px;
    width: 33.333%;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family: var(--human-sans-medium);
    font-size: 1.05rem;
}

.tabs-mobile .tabs-button.active{
    background: var(--orange-dark);
    color: #fff;
}

.tabs-desktop .tabs-button.active{
    color: #fff;
    text-decoration: none;
}
@media screen and (max-width:750px) {
    .tabs-desktop{
        display: none;
    }
    .tabs-mobile{
        display: flex;
    }
}