@import url('./common.css');
@import url('./1_landing-section.css');
@import url('./2_mission-section.css');
@import url('./3_third-section.css');
@import url('./4_fourth-section.css');

.tabs-div{
    position: relative;
    background: var(--tab-active-color);
}
.tab-section{
    display: none;
    background: none;
}

.tab-section.active{
    display: flex;
}
.tabs-desktop{
    display: flex;
    position: relative;
    column-gap: 10px;
    z-index: 132;
    margin: 5px 0 45px;
}
.tabs-mobile{
    position: absolute;
    z-index: 123;
    display: none;
    top: -25px;
    width: 100%;
}
.tabs-mobile.fixed{
    position: fixed;
    top: 0;
    background: #000;
}
.tabs-mobile::after{
    content: "";
    position: absolute;
    top: 50%;
    height: 80%;
    left:0;
    width: 100%;
    z-index: -1;
    background: var(--tab-active-color);
}

.tabs-desktop .tabs-button{
    background: none;
    color: #000;
    text-decoration: underline;
    position: relative;
}

.tabs-desktop .tabs-button:not(:first-of-type)::before{
    content: "";
    width: 5px;
    height: 5px;
    background: #fff;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 10px;
}


.tabs-mobile .tabs-button{
    background: #000;
    color: #fff;
    border-radius: 30px;
    padding: 10px 5px;
    width: 33.333%;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family: var(--human-sans-medium);
    font-size: 1.05rem;
    position: relative;
}

.tabs-mobile .tabs-button.first{
    background: var(--orange-dark);
    border-top-left-radius: 0;
}
.tabs-mobile .tabs-button.second{
    background: var(--yellow-dark);
}
.tabs-mobile .tabs-button.third{
    background: var(--green-dark);
    border-top-right-radius: 0;
}
.tabs-mobile .tabs-button.first.active{
    border-top-left-radius: 30px;
}
.tabs-mobile .tabs-button.third.active{
    border-top-right-radius: 30px;
}
.tabs-mobile .tabs-button.active{
    background: var(--tab-active-color);
}


.br-bl-0{
    border-bottom-left-radius: 0 !important;
}

.br-br-0{
    border-bottom-right-radius: 0 !important;
}

.tabs-desktop .tabs-button.active{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.tab-pointers{
    display: block;
    margin: 15px auto;
    max-width: max-content;
}
.tab-pointers .tab-point{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    display: inline-block;
    cursor: pointer;
    margin: 0 3px;
}
.tab-pointers .tab-point.active{
    background: #000;
}
@media screen and (max-width:750px) {
    .tabs-desktop,
    .tab-pointers,
    .rightArrow{
        display: none;
    }
    .tabs-mobile{
        display: flex;
    }
}